<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SolutionId" value="41680286-ed40-46a9-b216-c4d870c8f39c"/>
		<add key="SolutionFile" value="SgartIt.Sp.HtmlParametric.wsp"/>
		<add key="SolutionTitle" value="Sgart.it Html Parametric Web Part"/>
		<add key="SolutionVersion" value="1.0.0"/>
		<add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
		<add key="RequireDeploymentToAllContentWebApplications" value="false"/>
	</appSettings>
</configuration>
